body {
  background: #fff;
  padding-top: 50px;
  overflow: hidden;
  color: gray;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #62B3F9; }

ul, span {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 200;
  line-height: 200%; }

#wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  display: inline-block; }

#main-wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 0px !important; }

#main {
  position: relative;
  height: 100%;
  overflow-y: auto; }

#sidebar-wrapper {
  height: 100%;
  padding: 30px 0 0px 0;
  position: fixed;
  background: #df4244; }

#sidebar {
  position: relative;
  height: 100%;
  overflow-y: auto; }
  #sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0; }

#header {
  margin-bottom: 0px;
  height: 500px;
  background: url("../img/Waterfall.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  padding-top: 140px; }

.home-content {
  padding: 0px; }

.profile {
  margin: 20px 0; }

.profile-sidebar {
  padding: 20px 0 10px 0; }

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

.profile-usertitle {
  text-align: center;
  margin-top: 20px; }

.profile-usertitle-name {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px; }

.profile-usertitle-job {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px; }

.profile-contactinfo {
  color: white;
  text-align: center;
  margin-top: 20px; }

.profile-userbuttons {
  text-align: center;
  margin-top: 10px; }
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px; }
  .profile-userbuttons .btn:last-child {
    margin-right: 0px; }

.profile-usermenu {
  margin-top: 30px; }
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7; }
  .profile-usermenu ul li:last-child {
    border-bottom: none; }
  .profile-usermenu ul li a {
    color: white;
    font-size: 14px;
    font-weight: 400; }
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px; }
  .profile-usermenu ul li a:hover {
    background-color: white;
    color: black; }
  .profile-usermenu ul li.active {
    border-bottom: none; }
  .profile-usermenu ul li.active a {
    color: black;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px; }

.profile-content {
  background: #fff; }

.job-title {
  color: #62B3F9;
  padding-right: 2px; }

.color-box {
  padding-top: 30px;
  padding-bottom: 30px; }
  .color-box .container {
    max-width: 100%; }
  .color-box p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
    line-height: 200%; }

.box-white {
  color: black;
  background-color: white; }

.box-black {
  color: white;
  background-color: #323232; }

.box-title {
  color: #df4244;
  text-transform: uppercase; }

.data-range {
  color: white;
  font-size: 14px; }

.overlay {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover; }

.overlay-wrap {
  position: relative;
  transform: translate(0, 0); }

.parallax {
  background-size: cover;
  color: white;
  font-size: 16px;
  height: 500px; }

.quote {
  padding-left: 40px;
  padding-right: 40px; }

.footer {
  font-size: 16px; }
  .footer a {
    padding-left: 20px; }

@media (min-width: 800px) {
  .parallax {
    background-attachment: fixed;
    background-position: 200px 50%; }

  .quote {
    padding-top: 175px; } }
@media (max-width: 799px) {
  .parallax {
    background-position: 0px 50%; }

  .quote {
    padding-top: 100px; } }
@media (max-width: 768px) {
  body {
    padding-top: 0px; } }
@media (min-width: 767px) {
  .color-box {
    padding-right: 30px;
    padding-left: 30px; } }
@media (max-width: 768px) {
  #main-wrapper {
    padding-top: 0px; } }
@media (max-width: 767px) {
  #sidebar-wrapper {
    visibility: hidden; } }

/*# sourceMappingURL=site-sass.css.map */
