<div id="wrapper" data-ng-controller="Homes as vm">
  <div id="sidebar-wrapper" class="col-sm-3 col-md-3 col-lg-2">
    
    <div id="sidebar">
      <div ng-include="'app/components/home/sidebar.html'"></div>          
    </div>
  
  </div>
  
  <div id="main-wrapper" class="col-sm-9 col-md-9 col-lg-10 pull-right">
    <div id="main">

      <div class="col-sm-12 container marketing home-content profile-content" >   
       
           <!-- Title -->
           <div id="header" class="color-box">
            <div class="container text-center">
              
              <i class="fa fa-desktop fa-5x"></i>
              <h1>Jeremy Schanz</h1>
              <h1>Developer</h1>

            </div>
          </div>

          <!-- About -->
          <div id="about" class="color-box box-black">
            <div class="container">
              <div class="col-md-2">
                <p class="box-title">About</p>
              </div>
              <div class="col-md-2 col-md-push-8">
                <p>
                  <a class="about-link" target="_self" href="../../../assets/Schanz_Resume.pdf" download="Schanz_Resume.pdf"><i class="fa fa-file-pdf-o"></i> Resume</a>
                </p>
                
                <p>
                 <a class="about-link" target="_blank" href="https://gitlab.com/u/schanz6"><i class="fa fa-code-fork"></i> Gitlab</a>
                </p>
                
                <p>
                 <a class="about-link" target="_blank" href="https://www.linkedin.com/in/jeremy-schanz-b4b04960"><i class="fa fa-linkedin"></i> Linked In</a>
                </p>

              </div>
              <div class="col-md-8 col-md-pull-2">
                <p> I am a computer scientist based out of Arlington Virginia. I am a highly motivated individual looking for an opportunity to work with smart driven people. I attended the University of Pittsburgh where I gained my first software engineering experience completing a Co-op program. Since graduating, I have worked as a full stack web developer in Washington D.C. where I quickly earned a leadership position.  In my free time I am driven to learn new technologies and build functional programs that help me solve real world problems.  Outside of programming I enjoy watching soccer, playing golf, hiking, and am currently training for a half marathon.
                </p>
              </div>

            </div>
          </div>

           <!-- Quote 1 -->
          <div class="overlay-wrap"><div class="overlay"></div>
            <div class="full-width parallax" style="background-image: url(../../../assets/img/running.jpg);">
             <div class="quote">
                <h1 class="text-center">Computer science is no more about computers than astronomy is about telescopes.</h1>
                <h2 class="text-right">-Edsger Dijkstra</h2>
             </div>
          
            </div>

          </div>

           <!-- Work History -->
          <div id="work-history" class="color-box box-black">
            <div class="container">

                <div class="col-md-2 ">
                  <p class=" box-title">Work History</p>
                </div>

                <div class="col-md-2 col-md-push-8 data-range">
                 <p>Aug 2015 - Present</p>
               </div>

               <div class="col-md-8 col-md-pull-2">
                  <p class="job-title">Federal Reserve Board - Computer Applications Programmer and Analyst</p>
           
                  <ul>
                    <li>Designed and developed a  .NET Desktop application for the automation of bank transaction dataset testing.
                      <ul>
                        <li>Lead developer on a C# desktop application that parses and created XML files used to test Informatica applications.</li>
                        <li>Met with clients to establish project timelines and requirements. Wrote required technical documentation</li>
                        <li>Early adopter and advocate of scrum project management methodology at the board; scrum master experience.</li>
                        <li>Application reduced testing time from two weeks to one.</li>
                      </ul>
                    </li>
                  </ul>

                </div>

            </div>
          </div>

          <div class="color-box box-black">
            <div class="container">
              
              <div class="col-md-2"></div>

              <div class="col-md-2 col-md-push-8 data-range">
                  <p>Aug 2014 - Aug 2015</p>
              </div>

               <div class="col-md-8 col-md-pull-2">

                <p class="job-title">Federal Reserve Board - Computer Applications Programmer</p>

                <ul>
                  <li>Designed and developed a  .NET web application and service aimed at making security log reviews more efficient.
                    <ul>
                      <li>System included multi-tenant web application using C#, a professional user interface using Bootstrap and JavaScript, and a C# data collector that accessed the Splunk API and SQL.</li>
                      <li>Coordinated deployment of application from development environment to production. This included unit test, security impact, and migration plan documentation.</li>
                      <li>Presented project to senior management committee, leading to a new department wide security logging initiative. Promoted to project lead.</li>
                    </ul>
                  </li>
                </ul>

                <ul>
                  <li>Developed enterprise web application portal aimed to assist economist in creation of bank stress tests 
                    <ul>
                      <li>Highly customizable multi-tenant application designed to combine and manage different web modules.</li>
                      <li>Built REST API web service using ASP .NET Web API and Entity framework, helped design and build a responsive web page using AngularJS and Bootstrap, and created automated unit tests using NUnit and Moq.</li>
                      <li>Its success led to usage expanded to multiple Reserve Banks.</li>
                    </ul>
                  </li>
                </ul>

              </div>


          </div>
        </div>

        <div class="color-box box-black">
          <div class="container">
            
            <div class="col-md-2"></div>

            <div class="col-md-2 col-md-push-8 data-range">
              <p>May 2013 - May 2014</p>
            </div>

            <div class="col-md-8 col-md-pull-2">

              <p class="job-title">Draeger Safety, Inc - Software Engineering Co-op</p>

              <ul>
                <li>Designed and developed .NET Desktop application designed to test new gas detector.
                  <ul>
                    <li>Created a GUI application to record images from device, apply imaging filters, simulate errors, and run analytics.</li>
                    <li>Worked with hardware teams to create interface between application and device.</li>
                  </ul>
                </li>
                <li>Conducted a review of previously released C based software and presented findings to the Director of IT recommending a new firmware release.
                </li>
              </ul>

            </div>


          </div>
        </div>

        <div class="color-box box-black">
          <div class="container">
            
            <div class="col-md-2"></div>

            <div class="col-md-2 col-md-push-8 data-range">
              <p>May 2012 - Aug 2012</p>
            </div>

            <div class="col-md-8 col-md-pull-2">

              <p class="job-title">Everwood Day Camp - Group Leader</p>

              <ul>
                <li>Worked as camp counselors for six and seven year olds</li>  
                <li>Gained experience in leading both children and counselors as well as communication skills and conflict resolution
                </li>
              </ul>

            </div>


          </div>
        </div>

        <div class="color-box box-black">
          <div class="container">
            
             <div class="col-md-2"></div>

             <div class="col-md-2 col-md-push-8 data-range">
               <p>May 2011 - Aug 2011</p>
             </div>

             <div class="col-md-8 col-md-pull-2">

                <p class="job-title">Burpee Materials Technology - Intern</p>

                <ul>
                  <li>Complete day-to-day computer maintenance and resolve common user problems</li>
                  <li>Establish and maintain corporate network</li>
                  <li>Setup and maintain access control scripts, etc.</li>
                </ul>

             </div>


          </div>
        </div>

        <!-- Quote 2 -->
        <div class="overlay-wrap"><div class="overlay"></div>
          <div id="education" class="full-width parallax" style="background-image: url(../../../assets/img/OffPanther.jpg);">

              <div class="quote">
                  <h1 class="text-center">There is hope in dreams, imagination, and in the courage of those who wish to make those dreams a reality.</h1>
                  <h2 class="text-right">-Jonas Salk</h2>
               </div>
         
          </div>
        </div>

         <!-- Education -->
        <div class="color-box box-black">
         <div class="container">
            
            <div class="col-md-2 ">
               <p class="box-title">Education</p>
            </div>

            <div class="col-md-2 col-md-push-8">
               <p>Aug 2010 - Aug 2014</p>
            </div>

            <div class="col-md-8 col-md-pull-2">

              <p class="job-title">University of Pittsburgh </p>

              <ul>
                <li>Bachelor of Science in Computer Science and Economics</li>  
                <li>Graduated Cum Laude </li>
                <li>Gained experience programming in java, C, and PHP</li>
              </ul>

            </div>

         </div>
        </div>   

         <!-- skills -->
        <div id="skills" class="color-box box-black">
          <div class="container">
            
            <div class="col-md-2 ">
              <p class=" box-title">Skills</p>
            </div>

            <div class="col-md-10">

              <p><span class="job-title">Languages: </span>Java, JavaScript, C#, C/C++, Visual Basic, SQL, and PHP. </p>
              
              <p><span class="job-title">Frameworks: </span>Android SDK, JQuery, AngularJS, Node.JS, Grunt, .NET Windows Forms, ASP.NET Web Forms / MVC / Web API, and Bootstrap. </p>
              
              <p><span class="job-title">Testing Framworks: </span>NUnit with Moq and Mocha with Should and Assert.</p>
              
              <p><span class="job-title">Software:</span> Visual Studio, Eclipse, Netbeans, Sublime Text, SQL Server, Splunk, TFS, and GIT.</p>
              
              <p><span class="job-title">Operating Systems: </span>Mac OS X, Windows, and Linux </p>

            </div>

          </div>
        </div>

         <!-- Quote 3 -->
        <div class="overlay-wrap"><div class="overlay"></div>
          <div class="full-width parallax" style="background-image: url(../../../assets/img/cake.jpg);">
            <div class="quote">
                <h1 class="text-center">Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program.</h1>

                <h2 class="text-right">-Linus Torvalds</h2>

            </div>
                
          </div>
        </div>

         <!-- Projects -->
        <div id="projects" class="color-box box-black">
          <div class="container">
            
            <div class="col-md-2">
              <p class=" box-title">Projects</p>
            </div>

            <div class="col-md-10">

              <p class="job-title">Stock Application</p>

              <p>The Stock Application was the first side project I worked on. It is composed of three different Java applications. The first application data mines stock data, parses html in order to get the correct data, and then saving it to text file. The second application presents the data using Swing, and the third application funds regression and other algorithms in order to help find stocks to buy. This project gave me my first experience working with data collector and taught me how to organize and analyze the collected data. </p>

            </div>

            <div class="col-md-10 col-md-offset-2">
             <a href="https://gitlab.com/schanz6/StockApp/tree/master" target="_blank" class="code-btn btn btn-primary">View Code <i class="fa fa-link"></i></a>

           </div>

         </div>
        </div>


        <div class="color-box box-black">
          <div class="container">
            
            <div class="col-md-2"></div>

            <div class="col-md-10">

              <p class="job-title">GRE Vocabulary Application</p>

              <p>The GRE Vocabulary Application was built when I started studying for the vocabulary portion of the GREs. The application has two different games. The first is flashcards, and the second is a matching game.  The web application is built using AngularJS and Boostrap. In addition, it gets new word definitions from an XML dictionary API. The server is a NodeJs server that built an API using Express. The data is stored in a MySQL Database and mapped using Sequelize. This project allowed me to create an application to assist in my studying while also expanding my web development skills by learning Node.JS and many of its packages </p>

            </div>

            <div class="col-md-10 col-md-offset-2">
             <a href="https://gitlab.com/schanz6/Vocabulary_App/tree/master" target="_blank" class="btn btn-primary code-btn">View Code <i class="fa fa-link"></i></a>

             <a href="http://jeremyschanz.com/Vocabulary_App/"  class="btn btn-danger code-btn pull-right">View project </a>
           </div>



         </div>
        </div>

        <div class="color-box box-black">
          <div class="container">
            
            <div class="col-md-2"></div>

            <div class="col-md-10">

              <p class="job-title">DC Metro Visualization</p>

              <p>The DC Metro Data Visualization idea came out of a previous Android application I built using the Metro API. Curious about where the metro trains are located and unable to find an existing application, I decided to build it myself. The application retrieves live metro data every 10 second which is then presented on a map of the Metro system. This application taught me a lot about how to analyze and connect data in order to get it in the desired form. In addition, I learned how to effectively present data using D3. </p>

            </div>

            <div class="col-md-10 col-md-offset-2">
             <a href="https://gitlab.com/schanz6/Metro_Visualization/tree/master" target="_blank" class="btn btn-primary code-btn">View Code <i class="fa fa-link"></i></a>

             <a href="http://jeremyschanz.com/Metro_Visualization/" class="btn btn-danger code-btn pull-right">View project</a>
         
           </div>



         </div>
        </div>

        <div class="color-box box-black">
          <div class="container">
            
            <div class="col-md-2"></div>

            <div class="col-md-10">

              <p class="job-title">Profile Website</p>

              <p>This profile website was built to show off my resume and projects to potential employers. The website frontend was built using Bootstrap and AngularJS while the back end was built using a simple Nodejs server. This project gave me the opportunity to experiment with different ways to present data on a website. It also gave me experience setting up, configuring, and migrating to an Ubuntu web sever. </p>

            </div>


            <div class="col-md-10 col-md-offset-2">

             <a href="https://gitlab.com/schanz6/Profile/tree/master" target="_blank" class="btn btn-primary code-btn">View Code <i class="fa fa-link"></i></a>

           </div>



         </div>
        </div>

         <!-- Footer -->
        <div class="color-box box-white footer">
            <a target="_self" href="../../../assets/Schanz_Resume.pdf" download="Schanz_Resume.pdf"> <i class="fa fa-file-pdf-o"></i> Resume</a>
             
            <a target="_blank" href="https://gitlab.com/u/schanz6"><i class="fa fa-code-fork"></i> Gitlab</a>
             
            <a target="_blank" href="https://www.linkedin.com/in/jeremy-schanz-b4b04960"><i class="fa fa-linkedin"></i> Linked In</a>

            <a class="pull-right" href="#" ng-click="vm.scrollTo('header')"><i class="fa fa-arrow-up"></i> Back To Top</a>
        </div>


      </div>

    </div>
  </div>
</div>
