
    
<div class="profile-sidebar">
  <!-- SIDEBAR USERPIC -->
  <div class="profile-userpic">
    <img src="assets/img/profilePic.jpg" class="img-responsive" alt="">
  </div>
  <!-- SIDEBAR USER TITLE -->
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      Jeremy Schanz
    </div>
    <div class="profile-usertitle-job job-title">
      Developer
    </div>
  </div>
  <!-- SIDEBAR CONTACT -->
  <div class="profile-contactinfo">
    <p>Jeremy.Schanz@gmail.com</p>
    <p>781-752-5948</p>
    <p>Arlington, VA</p>
  </div>
  <!-- SIDEBAR MENU -->
  <div class="profile-usermenu">
    <ul class="nav">
      <li >
        <a href="#" ng-click="vm.scrollTo('about')">
          <i class="fa fa-user"></i>
          About </a>
        </li>
        <li>
          <a href="#" ng-click="vm.scrollTo('work-history')">
            <i class="fa fa-briefcase"></i>
            Work History </a>
          </li>
          <li>
            <a href="#" ng-click="vm.scrollTo('education')">
             <i class="fa fa-graduation-cap"></i>
              Education </a>
            </li>
            <li>
              <a href="#" ng-click="vm.scrollTo('skills')">
               <i class="fa fa-file-code-o"></i>
                Skills</a>
              </li>
               <li>
               <a href="#" ng-click="vm.scrollTo('projects')">
                <i class="fa fa-laptop"></i>
                Projects</a>
              </li>

            </ul>
          </div>
        </div>



